/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* After Reset */


:root {
    --primary: #012d5b;
    --secondary: #FD656B;
    --heading: #1D2137;
    --bg: #F6F9FE;
    --txt: #6e7b89;
}

body {
    font-family: 'Poppins', sans-serif;    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #6e7b89;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.txt-center {
    text-align: center;
}


/* Spaces */
.space100 {
    padding: 100px 0;
}
.space80 {
    padding: 80px 0;
}
.space40 {
    padding: 40px 0;
}
.space20 {
    padding: 20px 0;
}


/* flex */

.flex {
    display: flex;
    justify-content: space-between;
    align-self: center;
    /* background-color: rgba(255, 0, 0, 0.473); */
}

.flex70 {
    flex: 0 1 67%;
}
.flex50 {
    flex: 0 1 44.5%;
}
.flex33 {
    flex: 0 1 32%;
}
.flex30 {
    flex: 0 1 29%;
}

.flex40 {
    flex: 0 1 39%;
}
.flex60 {
    flex: 0 1 58%;
}
.flex25 {
    flex: 0 1 24%;
}
.flex-left {
    justify-content: flex-start;
}
.flex-top {
    align-items: flex-start;
}

/* Images */

.full-img {
    width: 100%;
}

/* Buttons */
.btn {
    padding: 12px 40px;
    border-radius: 4px;
    text-align: center;
    color: white !important;
}
.btn1 {
    background-color: var(--secondary) !important;
    color: white !important;
    text-transform: uppercase;
    border: 0 !important;
}
.btn2 {
    border: 1px solid var(--secondary);
    color: var(--secondary) !important;
    background-color: transparent;
}
.btn3 {
    border: 1px solid var(--secondary);
    color: var(--secondary) !important;
    background-color: transparent;
    padding: 24px 48px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
/* headings */
h1 {
    font-size: 56px;
    color: white;
    font-weight: 900;
    margin-bottom: 40px;
}
h2 {
    font-size: 26px;
    font-weight: 600;
    padding: 16px 0;
    color: var(--heading);
}
h3 {
    font-size: 40px;
    font-weight: 900;
    color: var(--heading);
}
h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading);
}
p{
    line-height: 1.7;
    color: var(--txt);
}


/* Header */

.header {
    background-color: var(--primary);
    padding: 14px 0;
    color: white;
}

.header a {
    color: white;
    margin-left: 32px;
}
.mail-id {
    padding-left: 32px;
}

/* Menu */

.logo {
    margin-left: 0 !important;
}

.bottom-header {
    padding: 26px 0;
}
.bottom-header a{
    margin-left: 40px;
    color: var(--primary);
}

.menu a {
    text-transform: uppercase;
    font-weight: 600;
}

/* main */
.home .banner {
    background: url(../media/hero/h1_hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-transform: uppercase;
    height: 100vh;
    position: relative;
}

.home .banner h1 {
    color: var(--primary);    
}

.home .banner span {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
}    

.home .banner .txt {
    position: absolute;
    top: 30%;
    left: 15%;
}


/* Team Section */

.team {
    background-color: var(--bg);
}
.team article {
    margin-right: 32px;
}

.team .a3 {
    border: 4px solid var(--secondary);
    border-radius: 4px;
    width: 20%;
    padding: 32px 60px;
    background-color: white;
}

.team hr {
    border: 0;
    background-color: var(--secondary);
    height: 4px;
    width: 37%;
    text-align: center;
    display: inline-block;
    margin: 20px 0;
}

.team .link {
    color: var(--primary);
    margin-top: 32px;
    display: inline-block;
    color: var(--heading);
    font-weight: 600;
    font-size: 18px;
}

/* Clients Section */

.client img{
    width: 100%;
    height: 600px;
}
.client p {
    padding: 32px 0;
    padding-bottom: 64px;
}
.client .txt {
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: -120px;
    margin-top: 150px;
    padding: 64px;
}


/* Services Section */

.services {
    text-align: center;
}

.services h2 {
    padding: 32px 0;
}
.services i {
    font-size: 52px;
}

.services .box {
    background-color: var(--bg);
    padding: 100px 1px;
}

/* Cases */

.cases .txt {
    align-self: center;
}

.cases {
    overflow: hidden;
    background-color: var(--bg);
}

.cases p {
    padding: 20px 0;
    padding-bottom: 60px;
}
.cases img {
    width: 58%;
    margin: 0 12px;
}

/* Recent */

.recent p {
    color: var(--secondary);
}
.recent time {
    color: var(--txt);
}
.recent h3 {
    text-align: center;
}


/* Call */

.call {
    background-color: var(--primary);
}

.call, .call h2, .call h3, .call p {
    color: white !important;
}

.call h3 {
    font-weight: 700;
}
.call p {
    padding: 20px 0;
}


.form-control {
    display: block;
    width: 100% !important;
    padding: 14px 12px;
    background-color: transparent;
    border: 1px solid var(--txt);
    margin-top: 32px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;    font-size: 16px;
    color: var(--txt);
}
.form-control::placeholder {
    color: white;
}


/* Footer */
.footer {
    background-color: var(--bg);
}

.footer .social li{
    margin: 0 8px;
}

.footer .social a {
    color: black;
    font-size: 24px;
}

.footer-menu li {
    padding: 8px 0;
}

.footer-menu a{
    color: var(--txt);
}
.footer hr {
    border: 0;
    background-color: #d6d9de;
    height: 1px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 40px 0;
}




/* Contact----------------------------------Page  */
/*-------------------------------------------------*/

.contact .banner {
    background: url(../media/hero/contact_hero.jpg);
}


.contact .side-details i {
    font-size: 32px;

}

.contact .form-control::placeholder {
    color: var(--txt);
}


.contact .side-details .icon{
    flex: 0 1 15%;
    justify-content: center;
    /* align-self: flex-start; */
}

.contact .side-details .txt{
    flex: 0 1 75%;
}

.contact .getintouch {
    padding-top: 0 !important;
}
